@tailwind base;
@tailwind components;
@tailwind utilities;


 
@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(10deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
